@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  /* Catppuccin Latte colours */
  --color-overlay-2: #7b7e93;
  --color-overlay-1: #8c8fa1;
  --color-overlay-0: #9ca0b0;
  --color-bg-1: var(--ctp-latte-base);
  --color-bg-2: var(--ctp-latte-crust);
  --color-accent: var(--ctp-latte-teal);
  --color-accent-hsl: var(--ctp-latte-teal-hsl);

  /* Eyeballed variations on Catppuccin colours */
  --color-accent-500: 183deg, 74%, 35%;
  --color-accent-300: 183deg, 74%, 25%;

  /* Inspired by prpl.wtf */
  --font-heading: "Merriweather", "sans-serif";

  /* Made-up spacing system */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* These are taken from Material Design 3 */
  --elevation-0: rgba(0, 0, 0, 0.2) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
  --elevation-1: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --elevation-2: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  --elevation-3: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  --elevation-4: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Noto Sans", system-ui, sans-serif;
  background-color: var(--color-bg-2);
}

a {
  color: var(--color-accent);
}
