---
import ChipButton from "./ChipButton.astro"
---

<div id="container">
  <section class="hero">
    <h1>
      Hey, I'm&nbsp;<span class="my-name" data-index="0">
        <span>Mish</span>
        <span>MMK21</span>
        <span>MMK21Hub</span>
      </span>
    </h1>
  </section>
  <main class="content">
    <p>This is my personal website!</p>
    <p>More content coming soon, hopefully.</p>
    <p>
      Perhaps you'd like to look at <a href="https://github.com/MMK21Hub"
        >my GitHub page</a
      > while you wait?
    </p>
    <h2>Links</h2>
    <div class="links">
      <ChipButton as="a" href="https://github.com/MMK21Hub">GitHub</ChipButton>
      <ChipButton as="a" href="https://blog.slevel.xyz">My blog</ChipButton>
    </div>
  </main>
</div>

<style></style>

<script>
  const $ = document.querySelector.bind(document)

  $(".my-name")!.addEventListener("click", () => {
    // alert("You found me!")
  })
  setInterval(() => {
    const nameContainer = $(".my-name")!
    const currentIndex = parseInt(nameContainer.getAttribute("data-index")!)
    const nextIndex = (currentIndex + 1) % 3
    nameContainer.setAttribute("data-index", `${nextIndex}`)
  }, 3000)
</script>

<style>
  h1 {
    font-family: var(--font-heading);
    font-weight: 700;
    margin: 0;
  }

  h2 {
    font-family: var(--font-heading);
    font-weight: 500;
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-md);
  }

  .hero,
  .content {
    margin-inline: var(--spacing-lg);
  }

  .hero {
    margin-block: var(--spacing-lg);
  }

  p {
    margin-block: var(--spacing-md);
  }

  a:hover {
    box-shadow: inset 0 0 20px 0px hsl(var(--color-accent-hsl) / 0.25);
    border-radius: 999px;
  }

  a:active,
  a:focus {
    box-shadow: inset 0 0 20px 0px hsl(var(--color-accent-hsl) / 0.5);
    border-radius: 999px;
  }

  .my-name {
    color: hsl(var(--color-accent-300));
  }

  .my-name span {
    position: absolute;
    /* margin-left: 0.2em; */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .my-name[data-index="0"] span:nth-child(1) {
    opacity: 1;
  }
  .my-name[data-index="1"] span:nth-child(2) {
    opacity: 1;
  }
  .my-name[data-index="2"] span:nth-child(3) {
    opacity: 1;
  }

  .links {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
  }
</style>
